
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin margins {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@mixin round-top() {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 414px;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
}

#question-text {
  @include margins();
}

#question-img {
  @include margins();
  @include round-top();
  object-fit: contain;
  border: 1px solid black;
  aspect-ratio: 1;
  width: 100%;
  background-color: rgb(206, 206, 206);
}

.year-container {
  @include margins();
  @include round-top();
  padding: 0.5rem;
  padding-top: 0.25rem;
  border: 1px solid black;
}

#guess-slider {
  @include margins();
  width: 100%
}

#guess-button {
  @include margins();
  width: 100%;
  height: 3rem;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-muted {
  color: grey;
  font-style: italic;
}

// Move content to center of page when on desktop:
@media only screen and (min-height: 900px) {
  .app-container {
    justify-content: center;
  }
}
