
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin margins {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 360px;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
}

#question-text {
  @include margins();
}

#question-img {
  @include margins();
  border: 1px solid black;
  width: 100%;
}

.year-container {
  @include margins();
}

#guess-slider {
  @include margins();
  width: 100%
}

#guess-button {
  @include margins();
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-muted {
  color: grey;
  font-style: italic;
}
