$border-color: black;
$title-bar-color: rgb(0, 119, 255);
$text-color: white;
$toon-inset-shadow: inset 0px -8px 0px -2px rgba(0,0,0,0.2);

* {
  margin: 0;
  padding: 0;
}

.title-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.25rem;
  border: 2px solid $border-color;
  background-color: $title-bar-color;
  color: $text-color;
  box-shadow: $toon-inset-shadow;
  font-family: monospace;
  width: 90%;
}

p {
  width: fit-content;
}
